@font-face {
  font-family: "Playlist";
  src: url("Playlist-Script.woff2") format("woff2"),
    url("Playlist-Script.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("Lora.woff2") format("woff2"), url("Lora.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
